.cm-trailingspace {
  background-color: #e00;
  background-color: rgba(255, 0, 0, 0.8);
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAA
                           ACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA
                           sTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCN
                           djPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAA
                           BJRU5ErkJggg==); // don't forget to join these 5 lines
     background-position: bottom left;
     background-repeat: repeat-x; */
}
